#calculator-pad {
    display: grid;
    border-radius: 7px;
    margin: 12px;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: auto auto auto auto auto;
} 
  

.button {
    border: 1px groove rgba(203, 114, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
  }

